// Join form page.
.Join {
  // Mobile styles
  background-image: url('../../assets/images/joinus.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .join-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;
    .join-container {
      padding: 3rem 3rem;
      width: 90vmin;
      background-color: #F0F4F7;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }}}

    .tab-title{
      color:#243067;
      font-weight:bolder;
      font-size:1.1rem;
    }

    .google:hover{
      border: 1.7px solid blue;
    }

    .error{
      margin-top: 1.1rem;
      color:red;
      font-weight: 400;
    }
    